.number-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;

  .flag-icon {
    display: block;
    width: 30px;
  }

  .confirm-valid {
    color: #077a07;
  }
}
