@if(form){
<div class="number-input-wrapper" *transloco="let t; prefix: 'numberInput'">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" [subscriptSizing]="'dynamic'">
      <mat-label>{{ t("placeholder") }}</mat-label>
      <input matInput type="number" formControlName="number" />
      <app-flag class="flag-icon" matSuffix [sizePx]="24" />
    </mat-form-field>
  </form>

  <button
    mat-icon-button
    [disabled]="form.invalid"
    (click)="onConfirm.emit(form.value.number ?? 0)"
    [class.confirm-valid]="form.valid"
  >
    <mat-icon>check</mat-icon>
  </button>
</div>
}
