@font-face {
  font-family: "GrundschriftBold";
  src: url("../../public/fonts/Grundschrift-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GrundschriftLight";
  src: url("../../public/fonts/Grundschrift-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GrundschriftRegular";
  src: url("../../public/fonts/Grundschrift-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
