<div class="game-box" *transloco="let t">
  <div
    class="number-display"
    [class.number-display-hidden]="currentNumber() === null"
  >
    {{
      t("numberHint", {
        number: currentNumber() | number : "1.0-0"
      })
    }}
  </div>

  <div class="time-line-wrapper">
    <app-time-line
      [min]="minValue()"
      [max]="maxValue()"
      [timelineEnabled]="currentNumber() !== null && !showResult()"
      [markerCount]="10"
      [indicatorPerMarker]="10"
      (numberSelected)="guessSelected($event)"
    />

    @if (currentGuess() !== null) { @if (showResult()) {
    <app-flag
      [sizePx]="90"
      [content]="currentNumber() | number : '1.0-0'"
      [flagColor]="'green'"
      class="guess-flag"
      [style.left]="currentNumberOffset() - 2.5 + 'px'"
    />
    }
    <app-flag
      [sizePx]="90"
      [content]="(showResult() ? currentGuess() : '') | number : '1.0-0'"
      class="guess-flag guess-flag-user"
      [style.left]="currentGuessOffset() - 2.5 + 'px'"
    />}
  </div>

  <div class="action-wrapper">
    @if(currentNumber() === null){
    <app-number-input
      [min]="minValue()"
      [max]="maxValue()"
      (onConfirm)="onNumberEntered($event)"
      class="number-input"
    />
    } @else {
    <div class="resolve-button">
      @if(!showResult()) {
      <button
        mat-raised-button
        [disabled]="currentGuess() === null"
        (click)="showResult.set(true)"
      >
        {{ t("solve") }}
      </button>
      } @else {
      <button mat-raised-button (click)="reset()">
        {{ t("reset") }}
      </button>
      }
    </div>
    }
  </div>
</div>
