:host {
  display: flex;
  height: 100%;
}

.game-box {
  flex: 1;
}

.number-display {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  text-align: center;
  margin-top: 20vh;
  font-size: 1.4em;

  &-hidden {
    visibility: hidden;
  }
}

.time-line-wrapper {
  position: relative;
  margin: 120px 5em 5em;

  .user-guess-flag {
    position: absolute;
    top: -90px;
  }
}

.number-input {
  margin-top: 5em;
}
