<div class="page" *transloco="let t">
  <h1>
    {{ t("title") }}
  </h1>

  <div class="game-box">
    <div>
      <div
        class="number-display"
        [class.number-display-hidden]="currentNumber() === null"
      >
        {{
          t("numberHint", {
            number: currentNumber() | number : "1.0-0"
          })
        }}

        <app-flag
          [sizePx]="90"
          [content]="currentNumber()"
          [class.number-display-hidden]="currentGuess() !== null"
        />
      </div>

      <div class="time-line-wrapper">
        <app-time-line
        [min]="minValue()"
        [max]="maxValue()"
        [timelineEnabled]="currentNumber() !== null"
        [markerCount]="10"
        [indicatorPerMarker]="10"
        (numberSelected)="guessSelected($event)"
      />

      @if (currentGuess() !== null) {
        <app-flag
          [sizePx]="90"
          [content]="currentNumber()"
          class="user-guess-flag"
          [style.left]="currentGuessOffset() - 2.5 + 'px'"
        />
      }
      </div>
    </div>

    @if(currentNumber() === null){
    <app-number-input
      [min]="minValue()"
      [max]="maxValue()"
      (onConfirm)="onNumberEntered($event)"
      class="number-input"
    />
    }
  </div>
</div>
