:host {
  display: flex;
  height: 100%;
}

.game-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 120px;
  width: 100%;
  flex: 1;
}

.number-display,
.action-wrapper {
  flex: 1;
}

.number-display {
  display: flex;
  gap: 1.5em;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  text-align: center;
  font-size: 1.4em;

  &-hidden {
    visibility: hidden;
  }
}

.time-line-wrapper {
  position: relative;
  margin: 0 5vw;
  flex: 0;

  .guess-flag {
    position: absolute;
    top: -90px;

    &-user {
      background-color: white;
    }
  }
}

.number-input {
  margin-top: 5em;
}

.resolve-button {
  text-align: center;
}
