@use 'styles/fonts.scss';

html {
    font-family: 'GrundschriftRegular';
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 2vw);
    margin: 2vw;
}